<!DOCTYPE html>
<html>
<head>
  <title>World Agent Molduras - Canela</title>
  <!-- META TAGS -->
  <meta name="description" content="World Agent Molduras">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
